{% extends 'layouts/public.html.twig' %}

{% block body %}
    <div class="container">
        <!-- Content -->
        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive" src="{{ asset('public/img/shop.jpg') }}" alt="Shoe-fony boutique" />
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">
                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Content -->
        <div class="row">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">
                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
                <p class="lead">
                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Donec ullamcorper nulla non metus auctor fringilla.
                </p>
            </div>
            <div class="col-md-5">
                <img class="img-responsive" src="{{ asset('public/img/team.jpg') }}" alt="Shoe-fony équipe" />
            </div>
        </div>
    </div>
{% endblock %}